@model List<Producer>

<div class="container">
    @foreach (var item in Model.AsEnumerable())
    {
        <div class="row">
        <div class="col-10 p-2 m-auto">
            <img src="@item.ProfilePicURL" height="100px" width="100px" />
            <p>@item.FullName</p>
            <p>@item.Bio</p>
            

        </div>
    </div>
    }
</div>
